<% provide(:title, "Home")%>
<h1>CapStone</h1>  
<p>This is the home page for praveena's capstone project </p>

<div class="center jumbotron">
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>  
 
